Repository AliceO2Group/Bookkeeping: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

flags:
  backend:
    carryforward: true
    paths:
      - backend
  frontend:
    carryforward: true
    paths:
      - frontend

feat: ESLint integration
  .eslintrc
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  backend/package-lock.json
  backend/package.json
  backend/test/.eslintrc
  frontend/package-lock.json
  frontend/package.json
Due: backend, frontend

chore: added extra ESLint rules
  .eslintrc
  backend/lib/server.js
  backend/test/index.js
  frontend/lib/public/Model.js
  frontend/lib/public/view.js
  frontend/lib/server.js
Due: backend, frontend

chore: set ESLint ECMAScript to 8
  .eslintrc
Due: none

chore: mark top level ESLint config as root
  .eslintrc
Due: none

chore: extend ESLint ruleset
  .eslintrc
Due: none

ci: removed paths filter, always trigger on push and pull_request
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/openapi.yml
Due: none

chore: added extra ESLint rules
  .eslintrc
Due: none

refactor: cleanup and documented Docker Compose
  docker-compose.dev.yml
  docker-compose.yml
Due: none

feat: added Nginx integration
  docker-compose.dev.yml
  docker-compose.yml
  nginx/Dockerfile
  nginx/nginx.conf
  nginx/nginx.dev.conf
  scripts/wait-for-it.sh
Due: none

Add example folder structure
  frontend/lib/public/components/placeholder
  frontend/lib/public/views/placeholder/placeholder_model
  frontend/lib/public/views/placeholder/placeholder_view
Due: frontend

fix: Removed the tags header, added comment in the start-dev script for its purpose
  frontend/lib/public/views/Overview/General/page.js
  frontend/lib/public/views/Overview/Overview.js
Due: frontend

fix: Extended timeout on the filter test
  frontend/test/index.js
Due: frontend

Feat: Added navbar component
  frontend/lib/public/assets/alice.png
  frontend/lib/public/components/NavBar/index.js
  frontend/lib/public/view.js
Due: frontend

Feat: Added first version of filters component
  frontend/lib/public/components/Filters/index.js
  frontend/lib/public/views/Overview/General/page.js
  frontend/lib/public/views/Overview/Overview.js
Due: frontend

feat: Got filtering working, reflects on the actual table now
  .gitignore
  frontend/lib/public/Model.js
  frontend/lib/public/components/Filters/index.js
  frontend/lib/public/components/NavBar/index.js
  frontend/lib/public/components/Table/index.js
  frontend/lib/public/view.js
  frontend/lib/public/views/Overview/General/page.js
  frontend/lib/public/views/Overview/Overview.js
Due: frontend

chore: Processed feedback from pull request
  .gitignore
  frontend/lib/public/components/Filters/index.js
  frontend/lib/public/view.js
  frontend/lib/public/views/Overview/General/page.js
  frontend/lib/public/views/Overview/Overview.js
  frontend/test/.eslintrc
  frontend/test/index.js
Due: frontend

chore: Cherry picked the latest commit from master, autlinted with the npm command
  frontend/lib/public/Model.js
  frontend/lib/public/components/Filters/index.js
  frontend/lib/public/view.js
  frontend/lib/public/views/Overview/General/page.js
  frontend/lib/public/views/Overview/Overview.js
  frontend/test/index.js
Due: frontend

Feat: added global page padding
  frontend/lib/public/view.js
Due: frontend

Fix: Improve JSDoc indentation
  .gitignore
  frontend/lib/public/views/Overview/Overview.js
  frontend/test/.eslintrc
  frontend/test/index.js
Due: frontend

fix: Added code for coverage compatibility in the tests
  frontend/test/index.js
Due: frontend

chore: Reverted 2 commits, moved the bug to bug/overview-screen
  .github/workflows/frontend.yml
  .gitignore
  frontend/lib/public/components/Filters/index.js
  frontend/lib/public/views/Overview/Overview.js
  frontend/lib/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/test/index.js
Due: frontend

Feat: Added frontend testing with mocha and puppeteer
  frontend/lib/public/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/test/index.js
Due: frontend

Added the table to the homepage in page.js. Created a general overview model for use in the detailed view and in the general overview
  frontend/lib/public/Model.js
  frontend/lib/public/components/placeholder
  frontend/lib/public/components/placeholder.js
  frontend/lib/public/view.js
  frontend/lib/public/views/Overview/General/page.js
  frontend/lib/public/views/Overview/Overview.js
  frontend/lib/public/views/placeholder/placeholder_model
  frontend/lib/public/views/placeholder/placeholder_view
Due: frontend

fix: Changed the structure of the tests and added an empty line between methods in Overview.js
  frontend/lib/public/Model.js
  frontend/lib/public/components/Filters/index.js
  frontend/lib/public/views/Overview/Overview.js
  frontend/lib/server.js
  frontend/package.json
  frontend/test/index.js
Due: frontend

fix: Adjusted in indent in Model.js
  frontend/lib/public/Model.js
  frontend/lib/public/views/Overview/General/page.js
  frontend/lib/public/views/Overview/Overview.js
  frontend/package.json
  frontend/test/index.js
Due: frontend

feat: Added reusable table components and start on the mock table with static data
  frontend/lib/public/components/Table/index.js
  frontend/lib/public/components/placeholder.js
  frontend/lib/public/views/Overview/General/page.js
  frontend/lib/public/views/Overview/Overview.js
Due: frontend

chore: Added backend call, bugs still unresolved
  frontend/lib/public/components/Filters/index.js
  frontend/lib/public/views/Overview/Overview.js
  frontend/lib/server.js
Due: frontend

ci: only trigger push event on master branch
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/openapi.yml
Due: none

ci: fixed indendation and removed duplicate npm test call
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/openapi.yml
Due: none

fix: Fixed the compatiblity issue with Firefox
  frontend/lib/public/components/Table/index.js
  frontend/lib/public/views/Overview/General/page.js
Due: frontend

refactor: set suite timeout to 10s
  .eslintrc
  frontend/test/index.js
Due: frontend

refactor: force Mocha to quit after tests complete
  backend/package.json
  frontend/package.json
Due: backend, frontend

chore(style): extended ESLint rule set
  .eslintrc
Due: none

chore(style): automated ESLint fixes
  frontend/lib/public/components/Filters/index.js
  frontend/lib/public/components/NavBar/index.js
  frontend/lib/public/components/Table/index.js
  frontend/lib/public/view.js
  frontend/lib/public/views/Overview/General/page.js
  frontend/lib/public/views/Overview/Overview.js
  frontend/test/index.js
Due: frontend

docs: added Docker documentation
  docs/DOCKER.md
Due: none

docs: added architecture documentation
  docs/ARCHITECTURE.md
Due: none

docs: added developer documentation
  docs/DEVELOPMENT.md
Due: none

fix: Fixed linting erros
  frontend/lib/public/Model.js
  frontend/lib/public/components/Filters/index.js
  frontend/lib/public/components/NavBar/index.js
  frontend/lib/public/components/Table/index.js
  frontend/lib/public/view.js
  frontend/lib/public/views/Overview/General/page.js
  frontend/lib/public/views/Overview/Overview.js
Due: frontend

chore: Switched the puppeteer-to-instanbul dep to the forked branch
  frontend/package-lock.json
  frontend/package.json
Due: frontend

test: coverage should include all JS files in the lib directory
  backend/.nycrc
  frontend/.nycrc
Due: backend, frontend
